---
import { getCollection } from 'astro:content';
import {
  entries,
  flat,
  flatMap,
  groupBy,
  mapValues,
  pipe,
  prop,
  sortBy,
} from 'remeda';
import BaseLayout from '../layouts/BaseLayout.astro';

const posts = await getCollection('posts');

const postsByYear = pipe(
  posts,
  groupBy((post) => post.data.date.getFullYear()),
  mapValues(sortBy((post) => post.data.date.getTime())),
  entries(),
  sortBy([prop(0), 'desc']),
);

const tags = pipe(
  posts,
  flatMap((post) => post.data.tags ?? []),
  flat(),
);
---

<BaseLayout>
  <section>
    <ul>
      <li>
        <strong>tags</strong>
        <ul>
          {
            tags.map((tag) => (
              <li>
                <a href={`/tags/${tag}/`}>{tag}</a>
              </li>
            ))
          }
        </ul>
      </li>
      <li>
        <strong>posts</strong>
        <ul>
          {
            postsByYear.map(([year, posts]) => (
              <li>
                {year}
                <ul>
                  {posts.map((post) => (
                    <li>
                      <a href={`/posts/${post.id}/`}>{post.data.title}</a>
                    </li>
                  ))}
                </ul>
              </li>
            ))
          }
        </ul>
      </li>
    </ul>
  </section>

  <div class="browse"></div>
</BaseLayout>

<style>
  h2 {
    @apply font-bold mb-2;
  }

  section {
    @apply mb-4;
  }

  ul {
    @apply space-y-0.5;
  }
</style>
