---
const { title, description } = Astro.props;
const cannonical = new URL(new URL(Astro.request.url).pathname, Astro.site);
---

<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="description" content="imch.dev" />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:url" content={cannonical} />
{description && <meta property="og:description" content={description} />}
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@imch_dev" />
<meta name="generator" content={Astro.generator} />
<title lang="ko">
  {title ? `${title} | imch.dev` : 'imch.dev'}
</title>
